# The * signals git to ignore all files with the desired extension
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Ignore the hidden visual studio file
.vs

# Ignore the x64 directory/folder
x64/

# Ignore VSCode json files
.vscode/

# Ignore object files from compilation
*.gch
*.o
*.exe